@import "./config/reset.less";
@import "./config/mapas.less";

@breakpointDesktop: ~"(min-width:1024px)";


.marginBottom8() {
  margin-bottom: 8px;
}

body {
  background-color: #colorsPage[primaryColor];
  height: 100vh;
  margin: 20px;

  main {
    
    h1 {
      font-family: "pokemon solid";
      font-weight: lighter;
      font-size: 2em;
      margin-bottom: 10px;
      justify-self: center;
    }
    
    .container {
      max-width: 767px;
      width: 100%;
      margin: 0 auto;
      padding: 4px;

      .form-treinador {
        background-color: #colorsPage[textColor];
        padding: 16px;
        font-size: 20px;
        font-weight: bold;
        margin: 40px 0;
        border: none;
        border-radius: 8px;
        position: relative;
        width: 280px;

        input {
          margin-top: 10px;
          font-size: 18px;
          background-color: #eee;
        }

        .input-error {
          border: 2px solid #colorsPage[errorColor];
          &:focus {
            border: 2px solid #colorsPage[errorColor];
            outline: none;
          }
        }

        button {
          position: absolute;
          right: -50px;
          bottom: -10px;
          padding: 10px;
          cursor: pointer;
          border-radius: 6px;
          background-color: #colorsPage[buttonColor];
          color: #colorsPage[textColor];
        }

        .error {
          display: none;
          font-size: 14px;
          color: #colorsPage[errorColor];
        }
      }

      .tabela-treinadores {
        padding: 10px;
        background-color: #colorsPage[textColor];
        width: 100%;
        text-align: center;
        thead {
          th {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
          }
        }
        tbody {
          tr {
            td {
              padding: 10px 10px 0 10px;
            }
          }
        }
      }
      .error-table {
        display: none;
        padding: 10px;
        border: 2px solid #colorsPage[errorColor];
        text-align: center;
        border-radius: 6px;
        margin-top: 8px;
        color: #colorsPage[textColor];
        background-color: #colorsPage[errorColor];
      }

      .iniciais {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        font-weight: bold;
        align-items: center;
        border: 2px solid #colorsPage[defaultColor];
        background-color: #colorsPage[textColor];
        padding: 6px;
        color: #colorsPage[defaultColor];
        .marginBottom8();

        h2,
        h3 {
          .marginBottom8();
        }

        img {
          border-radius: 8px;
          max-width: 100%;
        }
      }

      .btn-prosseguir {
        width: 100%;
        padding: 16px;
        margin-top: 16px;
        font-weight: bold;
        font-size: 1.33em;
        background-color: #colorsPage[buttonColor];
        color: #colorsPage[textColor];
        cursor: pointer;
      }

      .btn-prosseguir-lg {
        display: none;
      }
    }
  }
}

@media @breakpointDesktop {
  body {
    main {

      h1 {
        font-size: 3em;
        margin-bottom: 40px;
      }

      .container {
        max-width: 80%;
        height: 60%;
        margin: 0 auto;
        padding: 4px;

        .grid-layout-lg {
          display: flex;
          justify-content: space-evenly;
          padding: 50px 0;
          border-radius: 8px;
          background-color: #colorsPage[textColor];
          position: relative;
        }

        .form-treinador {
          justify-self: center;
          font-size: 32px;
          width: 600px;
          text-align: center;
          padding: 24px;
          input {
            font-size: 24px;
          }

          .input-error {
            border: 2px solid #colorsPage[errorColor];
            &:focus {
              border: 2px solid #colorsPage[errorColor];
              outline: none;
            }
          }

          button {
            bottom: -15px;
            padding: 10px;
            font-size: 20px;
          }

          .error {
            font-size: 18px;
          }
        }

        .tabela-treinadores {
          padding: 20px;
          width: 60%;
          justify-self: center;
          font-size: 18px;
        }
        .error-table {
          display: none;
          width: 800px;
          padding: 16px;
          font-size: 18px;
          justify-self: center;
        }

        .iniciais {
          display: grid;
          grid-template-columns: none;
          text-align: center;
          font-weight: bold;
          align-items: center;
          border: none;
          border-radius: 8px;
          background-color: #colorsPage[textColor];
          padding: 6px;
          color: #colorsPage[defaultColor];
          .marginBottom8();

          h2,
          h3 {
            .marginBottom8();
          }

          img {
            background-color: #34495e;
            border-radius: 8px;
            max-width: 100%;
            width: 400px;
            padding: 30px;
            border: 4px solid #000;
            .marginBottom8();
          }
        }

        .btn-prosseguir {
          display: none;

          &-lg {
            display: block;
            width: 200px;
            position: absolute;
            bottom: -30px;
            right: 40px;
          }
        }
      }
    }
  }
}

